
.select-player label {
	float: left;
	margin-bottom: 10px;
	/*width: 90px;*/
	font-size: 20px;
}

.select-set label {
	float: left;
	margin-bottom: 10px;
	/*width: 110px;*/
	font-size: 20px;
}

.select-all-btn {
	margin-bottom: 30px;
}
