
.chat-wrapper {
	margin : 10px;
	height : 70%;
}
.chat_list {
	/*width : 280px;*/
	overflow : scroll;
	background-color : white;
	height : 70%;
	padding : 10px;
}
.chat_mymsgbox {
	height : 30%;
	margin-top : 10px;
}
.chat_textbox {
	max-width: 200px;
	max-height: 100px;

	/*max-height : 100px ;  IE8以下とAndroid4.3以下用フォールバック */
	/*max-height : -webkit-calc(100% - 48px) ;*/
	/*max-height : calc(100% - 48px) ;*/
	float: left;
	margin-right : 5px;
}
/*.chat_enter,
.leave_a_room {
	margin-left : 5px;
	float : left;
}

.card_view,
.reset_phase {
	margin-right : 10px;
	margin-bottom : 10px;
	float : left;
}
*/
.chat-wrapper button {
	margin-right : 5px;
	margin-bottom : 5px;
	float : left;
}