
.chat-wrapper {
	margin : 10px;
	height : 70%;
}
.chat_list {
	/*width : 280px;*/
	overflow : scroll;
	background-color : white;
	height : 70%;
	padding : 10px;
}
.chat_mymsgbox {
	height : 30%;
	margin-top : 10px;
}
.chat_textbox {
	max-width: 200px;
	max-height: 100px;

	max-height : 100px ;  /*IE8以下とAndroid4.3以下用フォールバック */
	max-height : -webkit-calc(100% - 48px) ;
	max-height : calc(100% - 48px) ;
	float: left;
}
.chat_enter,
.leave_a_room {
	margin-left : 10px;
	float : left;
}
